footer{
    position: relative;
    background-color: #0D1118;
    padding: 6rem 0;
    @include lg{
        position:relative;
    }
    
}
footer .container{
    max-width: 36rem;
    margin: 0 auto;
    @include flex (column, $align:center);
    gap: 4.8rem;
    color:white;
    @include lg{
        max-width: 125rem;
        height: 100%;
        @include flex (row, space-between, flex-start);
        gap: 0;

    }
    .menu{
        margin-top: 10rem;
        width: 100%;
        @include flex (row, flex-start);
        @include lg{
            margin-top: 0;
            order: 2;
            width: 40rem;
            gap: 2rem;

        }
        .ul-list-1, .ul-list-2{
            width: 50%;
            @include flex (column);
            gap: 2rem;
            
            a{
                color:#6E7581;
                @include fonts (400, 1.6rem, 2rem);
                @include lg{
                    line-height: 2.4rem;
                }
            }
            a:hover{
                color: map-get($colors, 'main green' );
            }
        }
    }
    .mail{
        width: 100%;
        @include flex (column);
        gap: 2rem;
        @include lg{
         order: 3;
         width: 36rem;

        }
        label{
            @include fonts (400, 1.4rem, 1.6rem);
            color: #6E7581;
        }
        @include flex (column);
        .send-email{
            width: 100%;
            @include flex (row, space-between);
            input{
                width: 25rem;
                height:4.8rem;
                border-radius: 0.9rem;
                padding: 1rem;

            }
            a{
                width: 10rem;
                height:4.8rem;
                border-radius: 0.9rem;
                color:white;
                background-color:map-get($colors, 'main green' );
                @include flex(row, center, center);
                @include fonts (500, 1.4rem, 1.6rem);
            }

        }
        .info-email{
            margin-top: 1rem;
            @include flex (row, baseline);
            gap: 1.5rem;
            label{
                @include fonts (400, 1.6rem, 1.6rem);
                color: #6E7581;

            }
        }


    }
    .social-media{
        width: 100%;
        position: relative;
        border-bottom: 1px solid #343434;
        
        @include lg{
            border-bottom: none;
            @include flex (column, $align: flex-start);
            order: 1;
            height: 100%;
            width: 30rem;
            gap: 3rem;
        }

        .logo{
            position: absolute;
            @include flex(row, center);
            gap: 1rem;
            top: -900%;
            left: 30%;
            @include lg{
                position: static;
                height: 4rem;
            }
            img{
                width: 4rem;
                @include lg{
                    width: 4.8rem;
                    height: auto;
                }
            }
            h2{
                @include fonts (500, 2.37rem, 3rem);
                @include lg{
                    @include fonts (400, 2.8rem, 3.6rem);
                }
            }
        }
        .media-icons{
            @include flex(row, center);
            gap: 2rem;
            padding-bottom: 3rem;
            @include lg{
                font-size: 2.4rem;
                height: 5rem;

            }            
        }
        
    }
}
footer {
    .copyright{
        @include flex(row, center, baseline);
        gap: 0.5rem;
        @include fonts (400,1.6rem);
        color:#6E7581;
        position: absolute;
        top:140%;
        left: 16%;
       @include lg{
           margin: 0;
           border: none;
           position: static;
        //    top:35%;
        //    left: 7%;
           color:#3D4045;
       }
    
    
    
    }
}