.services{
    background-color: map-get($colors , 'main bg' );
    padding-top: 25rem;
    padding-bottom: 7rem;
    @include lg{
        padding-top: 38rem;
        padding-bottom: 10rem;

    }
    
}
.services .container{
    
    max-width: 36rem;
    margin: 0 auto;
    @include flex (column, $align:center);
    gap: 4rem;
    @include lg{
        max-width: 125rem;
        @include flex (row, $align: flex-start);
        width: 100%;
        gap: 5rem;     
    }
    .title-2{
        @include flex(column, $align: center);
        @include lg{
            align-items:flex-start;
            border-right: 1px solid #C4C4C4;
        }
        
        .title-services{
            @include fonts($line:2.09rem);
            color:map-get($colors , 'main green' );
            @include lg{
                @include fonts(400, 2.4rem, 3.2rem);
            }
           
        }
        .sub-title-services{
            @include fonts(500, 2.4rem, 3.1rem);
            width: 28rem;
            text-align:center;
            @include lg{
                text-align:start;
                @include fonts (600, 3.4rem, 4.4rem);
                padding-bottom:14rem;
            }
        }
    }
    .services-content{
        width: 100%;
        @include flex(column, $align:center);
        gap: 10rem;
        @include lg{
            gap: 8rem;
        }
        
        
        .service-part{
            @include flex(column, $align:center);
            gap: 3rem;
            @include lg{
                @include flex(row, flex-start, space-around);
                gap: 5rem;
                height:11rem;



            }
            .icon, .icon-2, .icon-3, .icon-4{
                @include lg{
                    height:100%;
                    
                }
            }
            .icon img{
                width: 4.8rem;
                height: 3.2rem;

            }
            .icon-2 img, .icon-3 img, .icon-4 img{
                height: 3.2rem;
                width: 3.2rem;
                margin-right: 16px;


            } 
            .content{
                @include flex(column, $align:center);
                gap: 2rem;
                text-align: center;
                @include lg{
                    @include flex(column, $align:flex-start);
                    text-align:start;
                    gap: 2rem;
                    width: 83rem;
                    height:100%;


                }
                h4{
                    @include fonts ($size:2rem, $line:2.6rem);
                    color: #212121;

                }
                p{
                    @include fonts();
                    color: #212121;

                }


            }


        }
    }
    
}