
 @keyframes scale-up-center {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(1);
    }
  }
  

.why-us{
    background-color:#0D1118;
    color:white;
    padding: 6rem 0;;
}
.why-us .container{
    max-width: 36rem;
    margin: 0 auto;
    @include flex (column);
    gap: 4rem;
    @include lg{
        max-width: 125rem;
        @include flex(row, space-between, center);
        gap: 0;
    }
    h1{
        width: 100%;
        text-align: center;
        @include fonts(400, 2.4rem, 3rem);
        @include lg{
            width: 27rem;
            height: 3rem;
            transform: rotate(270deg);     
        }
    }
    .reasons{
        overflow-x: scroll;
        @include flex(row);
        gap: 2rem;
      
        .reason{
            width: 18rem;
            height: 32rem;
            border: 1px solid #343434;
            border-radius: 8px;
            padding: 2rem;
            @include flex(column,space-between, $align: flex-start);
            gap: 2rem;

            .reason-name{
                margin-top:2rem;
                width: 14rem;

                @include fonts(400, 2.4rem, 2.4rem);
            }
            .reason-content{
                width: 14rem;
                height: auto;

                word-wrap: break-word;

                @include fonts(400, 1.6rem, 2.4rem);
            }
            .reason-icon{
                font-size:3.2rem;
            }
        }
       
        .reason:hover{
            border: 1px solid map-get($colors, 'main green');
            cursor: pointer;

        }
    }
    .reasons-animation{
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
           
       }
}